
/* Global Site Configuration */
body {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

.content-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;

    max-width: 1300px;

    padding-right: 10px;
    padding-left: 10px;
}

/* Page header */

.header {
    margin: 0;
    display: block;
    min-height: 50px;
    background: black;
    color: white;
    padding-left: 2%;
}

.header .logo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation bar */

.navigation {
    margin: 0;

    display: flex;
    flex-flow: row wrap;
    /* Set some nice styling */
    background: #003b9f;
    list-style: none;

    justify-content: flex-end;
}

.navigation a {
    /* Configure the links */
    color: white;
    display: block;
    padding: 1em;
    background-color: #003AB8;
    text-decoration: none;
}

.navigation a:hover {
    background: #1C25F9;
}

/* Configure the navigation bar for screen sizes */

@media all and (max-width: 800px) {
    .navigation {
        /* On medium devices, such as tablets & laptops, we'll centre the items and evenly distribute them. */
        justify-content: space-around
    }
}

@media all and (max-width: 500px) {
    .navigation {
        /* On small devices, such as mobile phones, we'll place them in a column. */
        flex-direction: column;
    }
}